extends layout

block content
    h1 Edit Your Form
    form(name="update",method="post",action="/update")
        input#inputUserName(type="hidden", size=40, placeholder="id", name="id", value="#{user[0]._id}")            
        p
        input#inputUserName(type="text", placeholder="username", name="username", value="#{user[0].username}")   
        p
        input#inputUserEmail(type="text", size=80, placeholder="email", name="email", value="#{user[0].email}")  
        button#btnSubmit(type="submit") Submit      