extends layout

block content
    div.splash.centerit.heightcenter#splash
      br
      a.biggify(href="/#submit") Welcome to the Suggestion Box
      br
      p.standardtext Let us know what you think!
   
    
    div.submit.centerit#submit
      h1.formstyle Suggestion Box
        h2.
        form.formstyle(name="adduser", method="post", action="/adduser")
            input(type="text", size="60", placeholder="Proposal Title (required)", name="postname" required)
            br
            input(type="text", size="60", placeholder="Your Name (required)", name="username" required)
            br
            input(type="text", size="60", placeholder="Your E-Mail (required)", name="email" required)
            br
            input(type="text", size="60", placeholder="Your Organization (optional)", name="organization")
            br
            input(type="text", size="60", placeholder="Your Telephone (optional)", name="telephone")
            p 
            textarea.form-control(type="text", cols="8", rows="10", placeholder="Your Proposal or Message (required)", name="postcontent", textareaObject.value="postcontent" postcontent required)
            =" "
            br
            button.btn-primary(type="submit") Send

    div.about.centerit#about
      h1.formstyle About
        p.h4 The Suggestion Box module is a Node Express demonstration project which exercises some basic functionality, including the following:
        ul.h4.centerit
          li Built on Node, Express, Jade, CSS/Bootstrap.
          li Deployed on Heroku Free Tier (expect a 10 second delay on first use.)
          li Uses Mongoose connector to Mongolab.com Mongo Database (Free Tier)
          li Module includes front end and administrator functions
          li Front end includes user form submission, light-weight client side validation, and message acknowledgement.
          li Back end includes administrator review of submissions, editing, and deletion.
      