doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="/javascripts/jquery.cookie.js")
    script(src="/javascripts/jquery.sticky.js")

  body
    .menucontainer.sticky-nav#sticker
      .grid-left
        .menuleft
          a.title(href='/') The Suggestion Box Module
          =" "
      .grid-right
        .menu
          a(href='/#submit') The Suggestion Box
          =" "
          a(href='/#about') About
          =" "
          a#login(href='/login') Login 
          =" "
          a#logout(href='/logout') Logout
          =" "
          a#admin(href='/userlist') Admin Editing
       
      script.
        $(document).ready(function(){

         $("#sticker").sticky({topSpacing:0});
          
         console.log( $.cookie() );
         console.log ($.cookie().lastvisit + " is lastvisit ");
         if ($.cookie().lastvisit != null)
            {$('#admin').show() } 
            else 
            {$('#admin').hide()}
         
         if ($.cookie().lastvisit != null)
             { $('#login').hide() } 
             else 
             { $('#logout').hide() }
        });     
 
    block content