doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="/javascripts/jquery.cookie.js")

  body
    .menu
      a.menu-btn(href='/') Home
      =" "
      a.menu-btn(href='/newuser') The Suggestion Box
      =" "
      a.menu-btn(href='/newpost') The Angular Suggestion Box
      =" "
      a.menu-btn(href='/about') About
      =" "
      a#login.menu-btn(href='/login') Login 
      =" "
      a#logout.menu-btn(href='/logout') Logout
      =" "
      a#admin.menu-btn(href='/userlist') Admin Editing
   
      script.
         console.log( $.cookie() );
         console.log ($.cookie().lastvisit + " is lastvisit ");
         if ($.cookie().lastvisit != null)
            {$('#admin').show() } 
            else 
            {$('#admin').hide()}
         
         if ($.cookie().lastvisit != null)
             { $('#login').hide() } 
             else 
             { $('#logout').hide() }

   block content