<!DOCTYPE html>

<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body ng-app='app'>

	<div class ='container'>
	<h1>Suggestion Box</h1>

<form class='formstyle' name="adduser" method="post" action="/adduser" />

<div class="row">
   <div class="col-md-6">User Input
		<div class='form-group'>
			<div class='input-group'>
				<input ng-model='titleText' type="text" size="60" placeholder="Proposal Title (required)" name="postname" required />
				<br>
				<input ng-model='nameText' type="text" size="60"  placeholder="Your Name (required)"  name="username" required />
		        <br>
		        <input ng-model='emailText' type="text" size="60" placeholder="Your E-Mail (required)" name="email" required />
		        <br>
		        <input ng-model='orgText'  type="text" size="60" placeholder="Your Organization (optional)" name="organization" />
		        <br>
		        <input ng-model='phoneText' type="text" size="60" placeholder="Your Telephone (optional)" name="telephone" />
		        <br> 
		        <textarea ng-model='proposalText' rows='10' class='form-control' type="text"  placeholder="Your Proposal or Message (required)" name="postcontent"  required> </textarea>
		        <br>
		   	</div>
		</div>
	</div>
  <div class="col-md-6">
  	<p>User Message</p>
	<p>Title: {{titleText}}</p>
	<p>Your Name: {{nameText}}</p>
	<p>Email: {{emailText }}</p>
	<p>Organization: {{orgText }}</p>
	<p>Phone: {{phoneText }}</p>
	<p>Suggesiton:  {{proposalText }}</p>
  </div>
</div>

<button class ='btn-primary'  type="submit" > Send </button>
</form>



		<ul class='list-group'>
			<li ng-repeat='posts in posts' class='list-group-item'>	
				<strong>@{{posts.username}}</strong>
				<span>{{posts.body}}</span>
			</li>
		</ul>
 	</div>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js'>
  </script>

<script>

//we are using angular
var app = angular.module('app',[])

//we attach a controller named PostsCtrl
app.controller('PostsCtrl', function ($scope){
 	
  	$scope.addPost = function(){
 
	 	//if body exists
	 	if($scope.postBody){
			
			//then unshift a new post into $scope.posts
		 	$scope.posts.unshift({
		 		username: 'frank',
		 		body: $scope.postBody
		 		})
			
			//and exit by clearing out the input field
			$scope.postBody = null
				
			} //end if
	}
	//seed some starting data 
	$scope.posts = [{username: 'mike',
				     body: 'went to town'
				     },
				    {username: 'bob',
				    body: 'went home again'
				    }]
})
//end controller postCtrl
</script>

</body>
</html>