extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li 
                p #{user.username}
                a(href="/edituser/#{user.id}") Edit Button
                p
                a(href="/deleteuser/#{user.id}") Delete Button