extends layout

block content
    h1.
        Blog Posts
    form(name="adduser",method="post",action="/adduser")
        p Create New Post
        input(type="text", placeholder="Your Title", name="username")
        button(type="submit")                        submit
        p 
        textarea(type="text", cols="80", rows="5", placeholder="Your Post", name="email")
        
    ul
        each user, i in userlist
            li
                .mybox 
                    p #{user.username}
                    p #{user.email}
                    a(href="/edituser/#{user.id}") Edit
                    =" "
                    =" "
                    =" "
                    a(href="/deleteuser/#{user.id}") Delete