body {
  padding-left: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F4F4F4;
}

/*Pseudo classes */
 
a {
  line-height: 15px;
  font-weight: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu a{
  transition: .30s linear;
  color: black;
  }

a:hover{ 
  text-decoration: none;
  color: yellow;
 }

.menu a:hover{
  text-decoration: none;
    color: yellow;
  }


.centerit {
  margin-top:250px;
  
  margin: 0 auto;
  padding-top:10px;
 }

a.centerit: hover{
    margin-top:250px;
    text-decoration: none;
    color: white;
}


a.biggify {
  font-size: 5.0vw;
  margin-top:250px;
  margin: 0 auto;
  padding-top:200px;
  padding-left:50px;
  color: white;
 }

a.biggify:hover{
    margin-top:250px;
    text-decoration: none;
    color: white;
    text-decoration: none;
}
 
a.title  {
  transition: .30s linear;
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-top: 5px;}

a.title:hover{
  color: yellow;
  text-decoration: none;
}

.standardtext{
    font-size: 2.0vw;
    padding-left: 140px;
    color: white;}
/*ul.home li.home { color: blue; }
ul.blog li.blog { color: blue; }
ul.contact li.contact { color: blue; }
ul.about li.about { color: blue; }*/

ul {
	/*list-style-type: none;*/
}

.splash{
  height:1080px;
  background-color:#F4F4F4;
  background: url('/images/IMG_20150116_125126.jpg') no-repeat center;
  background-size: cover;

}

.submit{
  padding-left:30px;
  height:1080px;
  padding-top:30px;
  background-color:#C2D6D6;}

.about{
  padding-left:30px;

  height:1080px;
  padding-top:30px;
  background-color: #F4F4F4}

.mybox {
		width:500px;
		padding: 0px;
		background-color: #F4F4F4;
    margin-top:10px;
		margin-bottom: 20px;
		border:solid 2px black;
		font-size: 12px;
		border-radius: 10px;
		}

.homemadebutton { 
	width: 300px; 
	height: 50px;
	background-color: white;  
	border: solid 2px black; 
	color: white;
    border-radius: 15px;
    padding-left: 29px;
    padding-top: 12px;
}

.menucontainer {
  margin: 0 auto;
  max-width:1280px
  height: 40px;
  
  }

.grid-left{ width:30%;
            float:left;}

.grid-right{
  width: 70%;
  float: right;

}

.menu {
  text-align: right;
  margin: 0 auto;
  padding-top: 10px;
  padding-left:10px; 
  height: 40px;
  background-color: #D1E0E0;
  opacity:.6;

}

.menuleft {
  padding-top: 10px;
  float: left; 
  height: 40px;
  width: 100%;
  min-width: 300px
  color: white;
    background-color: #D1E0E0;
    opacity:.6;

}

.menu-btn {
	border: solid 2px black;
	border-radius: 5px;
	padding: 5px;
	background-color: blue;
	color: white ;
}

.btn {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b47);
  background-image: -moz-linear-gradient(top, #d93434, #b82b47);
  background-image: -ms-linear-gradient(top, #d93434, #b82b47);
  background-image: -o-linear-gradient(top, #d93434, #b82b47);
  background-image: linear-gradient(to bottom, #d93434, #b82b47);
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  text-shadow: 1px 4px 5px #472947;
  font-family: Arial;
  color: #ffffff;
  font-size: 43px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a50aad;
  background-image: -webkit-linear-gradient(top, #a50aad, #9e0aab);
  background-image: -moz-linear-gradient(top, #a50aad, #9e0aab);
  background-image: -ms-linear-gradient(top, #a50aad, #9e0aab);
  background-image: -o-linear-gradient(top, #a50aad, #9e0aab);
  background-image: linear-gradient(to bottom, #a50aad, #9e0aab);
  text-decoration: none;
}

.formstyle{
  width: 500px;
  padding-top: 20px;
  margin: 0 auto;
}

.centerit{
  margin: 0 auto;
}

.heightcenter{
  padding-top:200px;
 }

.sticky-nav{
   transition: 1.5s;}

.is-sticky .sticky-nav{
  background-color: #472947;
  z-index: 1000;
  opacity: .7;
}
