body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/*Pseudo classes */
 a.menu-btn:hover{
 	color: yellow;
 }

/*a {
  color: #00B7FF;
}*/

/*ul.home li.home { color: blue; }
ul.blog li.blog { color: blue; }
ul.contact li.contact { color: blue; }
ul.about li.about { color: blue; }*/

ul {
	list-style-type: none;
}


.mybox {
		width:500px;
		padding: 10px;
		background-color: #F4F4F4;
		margin-bottom: 20px;
		border:solid 2px black;
		font-size: 12px;
		border-radius: 10px;
		}

.homemadebutton { 
	width: 300px; 
	height: 50px;
	background-color: white;  
	border: solid 2px black; 
	color: white;
    border-radius: 15px;
    padding-left: 29px;
    padding-top: 12px;
}

.menu {	
}

.menu-btn {
	border: solid 2px black;
	border-radius: 5px;
	padding: 5px;
	background-color: blue;
	color: white ;
}