body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: green;
  color: white;
}

a {
  color: #00B7FF;
}

ul.home li.home { color: blue; }
ul.blog li.blog { color: blue; }
ul.contact li.contact { color: blue; }
ul.about li.about { color: blue; }

.mybox {
		width:500px;
		padding: 10px;
		background-color: #333333;
		margin-bottom: 20px;
		}